.footer {
    color: #858B99;
    background-color: #030617;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    margin-top: auto;
    overflow: hidden;

  }
  
  .footer p {
    color: #858B99;
  }

  @media screen and (max-width: 500px) {
    .footer {
        width: 100%;
        height: auto;
      }
  }