.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
}

.round-image {
    border-radius: 50%;
    width: 500px;
    height: 500px; /* Make height equal to width to maintain aspect ratio for a round image */
    object-fit: cover; /* Ensures the image covers the given area without stretching */
    margin-bottom: 20px;
    border: 5px solid black;
}

.text {
    max-width: 80%;
}

.text h2 {
    margin: 0 0 10px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

@media screen and (min-width: 500px) {
    .banner {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .round-image {
        margin-right: 20px;
    }

    .text {
        max-width: 50%;
    }
}

.text p {
    margin: auto;
    max-width: 80%;
    padding: 20px;
}
